@import url('homepage.css');

h1 {
    text-align: center;
    text-transform: uppercase;
}
h2 {
    font-size: 30px;
}

.eventsupcoming {
    font-size: 30px;
    text-transform: uppercase;
}
.upcomingevents {
    display: flex;
    justify-content: center;
    background-color: var(--contentcolor);
}

.eventlist {
    display: flex;
    margin: 5px;
}

.events {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin: 10px;
    padding: 15px;
    background-color: var(--contentcolor);
    border-radius: 8px;
}

.events img {
    width: 430px;
    height: 500px;
    margin: 5px;
    padding: 5px;
}

.titles-event {
    margin: 5px;
    padding: 5px;
    font-weight: bold;
    text-align: left;

}

.date1 {
    display: block;
    color: #000000;
    text-align: left;
    margin: 5px;
    padding: 5px;
} 

.event1,
.event2,
.event3 {
    background-color: var(--contentcolor);
}

hr {
    margin: 0;
}
.exhibits {
    margin: 20px;
    justify-content: center;
}

.exhibits ul {
    list-style-type: none;
    padding: 0;
}

.exhibits li {
    margin-bottom: 20px;
    display: flex;
    background-color: var(--contentcolor);
    border-radius: 5px;
    padding: 10px;
    overflow: hidden;
}

.exhibits img {
    width: 600px;
    height: 400px;
    margin: 5px;
    padding: 5px;
}
.exhibits p {
    padding: 30px;
    justify-content: center;
    line-height: 2;
}


@media (max-width: 1500px) {
    .events {
        flex-direction: column;
    }
    .events img {
        width: 100%;
        padding: 0;
        margin: 0;
    }


    @media (max-width: 1000px) {
    .exhibits li {
        flex-direction: column;
    }
    
    .exhibits img {
        width: 100%;
    }