:root {
    --headercolor: rgb(242, 242, 242);
    --contentcolor: rgb(137, 251, 149, 1);
}
* {
    font-family: 'Chakra Petch Regular';
    box-sizing: border-box;
}

@font-face {
    font-family: 'ChakraPetch Regular', sans-serif;
    src: url(fonts/ChakraPetch/ChakraPetch-Regular.ttf) format('ttf')
}

main {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

header {
    background-color: var(--headercolor); 
}

.header-logo {
    display: flex;
    flex-direction: row;
    align-items: center;;
}
header img {
    height: 93px;
    max-width: 120px;
}
.banner-text {
    color: rgb(0, 0, 0);
    display: flex;
    padding: 10px;
    font-size: 15px;
    justify-content: center;
    display: flex;
    z-index: 1;

}
.museum-under {
    display: block;
    text-align: left;
    margin: 2px 8px;
    font-family: 'Times New Roman', Times, serif;
}

.nav-meny-logo {
    display: flex;
    background-color:  var(--headercolor);
}
nav {
    height: 100%;
}

.nav-buttons {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    list-style-type: none; 
    padding: 20px;
    display: flex; 
    background-color: rgb(242, 242, 242);
    font-size: 16px;
}
.nav-buttons a {
    height: 100%;
    min-width: 150px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 0, 0);
}
.nav-buttons a:hover {
    color: rgb(255, 0, 0);
}

.burger-menu-image {
    height: 50px;
}
#burger-menu-input {
    opacity: 0;
    position: absolute;
}
.burger-menu-label {
    display: none; 
    align-items: center;  
    height: 100%;
    cursor: pointer;
}
.burger-menu-button {
    width: 100%;
    display: flex;
    justify-content: end;
    padding-right : 20px;
}
.burger-menu-box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 20px 0;
    background-color: rgb(131, 131, 131);
    box-shadow: 0px 0px 100px rgba(0, 0, 0, .6);
    transition: 0.2s;
    z-index: 1;
}
.burger-menu-box ul {
    list-style: none;
}
.burger-menu-item {
    display: block;
    padding: 12px 24px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition: background 0.3s;
    text-transform: uppercase;
}
.burger-menu-item:hover {
    background-color: #6e8893;
}
#burger-menu-input:checked ~ .burger-menu-box {
    visibility: visible;
    right: 0;
}

.first-banner {
    overflow: hidden;
    height: 500px;
    width: 100%;
    display: flex;
}

h1 {
    margin: 30px;
}

h2 {
    text-align: center;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 50px;
}

h3 {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
}

table {
    width: 100%;
}

td, th {
    padding: 10px;
    text-align: center;
}

.welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    background-color: white;
    padding: 2px;
}

.welcome-text {
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.first-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    overflow: hidden; 
    height:100vh;
}

.bigcontainer {
    background-color: var(--contentcolor);
    padding: 20px;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.container1,
.container2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.firstimg {
    overflow: hidden;
    border-radius: 50%;
    width: 200px;
    height: 200px; 
}
.container1 img {
    width: 100%;
    height: auto;
    display: flex;
}

.textpara,
.textpara2 {
    margin: 100px;
    font-size: 18px;
    line-height: 2;
}

.secondimg {
    overflow: hidden;
    border-radius: 50%;
    width: 200px; 
    height: 200px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.container2 img {
    width: 100%;
    height: auto;
    display: block;
}

.banner-openhrs-events {
    display: flex;
    justify-content: space-evenly;
}

.openinghourstable,
.newsupcomingtable {
    background-color: var(--contentcolor);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    width: 600px;
    height: 600px; 
}
.card-container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}
.forpeople {
    max-width: 400px; 
    width: 100%;
    background-color: var(--contentcolor);
}
.forpeople img {
    width: 100%;
    height: 500px;
}
.forpeople p {
    padding: 10px;
}
.exhibits-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    background-color: var(--contentcolor);
}

.exhibit {
    margin: 10px;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exhibit h2 {
    margin: 10px 0;
    font-size: 20px;
}
.exhibit a {
    color: #000000;
    text-decoration: none;
}

.exhibit img {
    max-width: 100%;
    height: auto;
    max-height: 150px; 
    margin-bottom: 10px;
}

.read-more-btn {
    background-color: #e77d7d;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.read-more-btn:hover {
    background-color: #45a049;
    color: white;
}

footer {
    background-color: var(--headercolor);
    justify-content: space-evenly;
    font-weight: bold;
    position: relative;
    display: flex;
}
.terms-policy {
    display: flex;
    flex-direction: column;
}
.address-container {
    display: block;
    color: rgb(0, 0, 0);
    text-align: left;
    margin: 2px 8px;
}
footer a {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    height: 100%;
    line-height: 2;
}
footer a:hover {
    text-decoration: none;
    color: rgb(255, 0, 0);
    text-transform: uppercase;
    height: 100%;
    width: 100%;
}

@media (max-width: 1250px) {

    .banner-openhrs-events {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .openinghourstable,
    .newsupcomingtable {
        width: 600px;
        height: 600px; 
    }
    td, th {
        padding: 10px;
        text-align: left;
    }
    .forpeople {
        max-width: 100%;
        margin: 0;
    }
}
@media (max-width: 900px) {

    .burger-menu-label {
        display: flex;
        align-items: center;
        margin: 20px;
        justify-content: space-between;
    }
    .navlist {
        display: none;
    }
    h2 {
        font-size: 50px;
    }
    h3 {
        font-size: 20px;
    }

    .firstimg {
        max-width: 100%;
        align-items: center;
    }

    .secondimg {
        max-width: 100%;
    }

    .container1,
    .container2 {
        flex-direction: column;
    }

    .container1 img {
        max-width: 100%;
    }

    .container2 {
        flex-direction: column-reverse;
    }
    .secondimg {
        order: -1;
    }

    .textpara,
    .textpara2 {
        font-size: 15px;
        padding-top: 20px;
        margin: 0;
    }
    .textpara2 {
        margin-top: 20px;
    }
    .container2 img {
        align-items: center;
    }

    .banner-openhrs-events {
        flex-direction: column;
        width: 100%;
    }
    .openinghourstable,
    .newsupcomingtable {
        height: auto; 
        width: 300px;
        padding: auto;
    }
    td, th {
        padding: 10px;
        text-align: left;
    }
    .card-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    footer {
        flex-direction: column;
        text-align: center;
    }
    .address-container {
        text-align: center;

    }
    @media (max-width: 700px) {

}
